<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.qr.presentation">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:supportsRtl="false"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".ui.screens.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.login.RegistrationActivity"
            android:theme="@style/RegistrationActivity"
            android:windowSoftInputMode="adjustResize">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.screens.participant.ParticipantActivity"
            android:theme="@style/ParticipantsActivity"
            android:windowSoftInputMode="adjustResize">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.screens.volunteer.VolunteerActivity"
            android:theme="@style/VolunteerActivity"
            android:windowSoftInputMode="adjustResize">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

    </application>

</manifest>